fastapi
uvicorn
pydantic
google-genai
python-dotenv
sqlglot
langchain
langchain-google-genai
langchain-qdrant
langchain-text-splitters
pydantic-settings
python-multipart
qdrant-client
sqlalchemy
python-docx
pymupdf
pytesseract
pillow
unstructured[pdf]
